<header id="header">
    <div id="settings-container">
        <button type="button" data-type="dropdown" data-target="#settings-dropdown" class="btn-settings">
            <img src="images/icons/Setting.svg">
        </button>
        <div id="settings-dropdown" class="dropdown hide">
        </div>
    </div>
    <div class="button-divider"></div>
    <div id="account-container">
        <button type="button" data-type="dropdown" data-target="#account-dropdown" class="btn-account">
            <img src="images/logotypes/Header-Avatar.svg" alt="template avatar">
        </button>
        <div id="account-dropdown" class="dropdown">
            <div class="account-name">
                <img src="images/logotypes/Header-Avatar.svg">
                <span>Christoffer Wendin</span>
            </div>
            <div class="account-logout">
                <i class="fa-solid fa-right-from-bracket"></i>
                <span>Logout</span>
            </div>
        </div>
    </div>
</header>