@model ProjectsViewModel
@{
    Layout = "_PortalLayout";
    ViewData["Title"] = "Projects";

    var cf = Model.CurrentFilter;

    // Räkna på hela listan
    var allCount = Model.AllProjects.Count();
    var startedCount = Model.AllProjects.Count(p => p.StatusTypeId == 2);
    var completedCount = Model.AllProjects.Count(p => p.StatusTypeId == 3);
}

<section id="projects" class="page">
    <div class="page-header">
        <h1>Projects</h1>
        <button type="button" class="btn btn-add" data-type="modal" data-target="#add-project-modal">
            <i class="fa-solid fa-plus"></i>
            <span>Add Project</span>
        </button>
    </div>
    <div class="filter-group">
        <a asp-action="Projects" class="btn-filter @(cf == 1 ? "active" : "")">
            ALL [@allCount]
        </a>
        <a asp-action="Projects" asp-route-statusTypeId="2" class="btn-filter @(cf == 2 ? "active" : "")">
            STARTED [@startedCount]
        </a>
        <a asp-action="Projects" asp-route-statusTypeId="3" class="btn-filter @(cf == 3 ? "active" : "")">
            COMPLETED [@completedCount]
        </a>
    </div>
    <section class="project-list">
        @if(Model.Projects != null && Model.Projects.Any())
        {
            @foreach (var project in Model.Projects)
            {
                @await Html.PartialAsync("_ProjectListItemPartial", project)
            }
        }
    </section>
</section>


@await Html.PartialAsync("Modals/_AddProjectModalPartial", Model.AddProjectFormData)
@section Scripts {
    @* Om ShowAddModal = true, öppna Add-modalen direkt *@
    @if ((bool?)(ViewData["ShowAddModal"]) == true)
    {
        <script>
            document.addEventListener("DOMContentLoaded", function() {
              document
                .querySelector("#add-project-modal")
                .classList.add("modal-show");
            });
        </script>
    }
}

<!-- EDIT-MODAL som ligger tom tills AJAX laddar in formuläret -->
<section id="edit-project-modal" class="modal hide">
    <div class="card">
        <div class="card-header">
            <h3>Edit Project</h3>
            <button data-type="close"
                    data-target="#edit-project-modal"
                    class="btn-close">
                <i class="fa-solid fa-xmark"></i>
            </button>
        </div>
        <div class="card-body">
            <div class="project-image">
                <img src="~/images/icons/Project-Image.svg" asp-append-version="true" alt="" />
            </div>
            <!-- Här kommer form:en att laddas in -->
            <div id="edit-project-form-container"></div>
        </div>
    </div>
</section>