@model ProjectsViewModel
@{
    Layout = "_PortalLayout";
    ViewData["Title"] = "Projects";
}

<section id="projects" class="page">
    <div class="page-header">
        <h1>Projects</h1>
        <button type="button" class="btn btn-add" data-type="modal" data-target="#add-project-modal">
            <i class="fa-solid fa-plus"></i>
            <span>Add Project</span>
        </button>
    </div>
    <section class="project-list">
        @if(Model.Projects != null && Model.Projects.Any())
        {
            @foreach (var project in Model.Projects)
            {
                @await Html.PartialAsync("_ProjectListItemPartial", project)
            }
        }
    </section>
</section>


@await Html.PartialAsync("Modals/_AddProjectModalPartial", Model.AddProjectFormData)

<!-- EDIT-MODAL som ligger tom tills AJAX laddar in formuläret -->
<section id="edit-project-modal" class="modal hide">
    <div class="card">
        <div class="card-header">
            <h3>Edit Project</h3>
            <button data-type="close"
                    data-target="#edit-project-modal"
                    class="btn-close">
                <i class="fa-solid fa-xmark"></i>
            </button>
        </div>
        <div class="card-body">
            <div class="project-image">
                <img src="~/images/icons/Project-Image.svg" asp-append-version="true" alt="" />
            </div>
            <!-- Här kommer form:en att laddas in -->
            <div id="edit-project-form-container"></div>
        </div>
    </div>
</section>