
@model SignUpFormModel
@{
	Layout = "_CleanLayout";
	ViewData["Title"] = "Register";
}

<div class="surface">
    <h1 class="signup-header">Create Account</h1>

    <form class="signup-form" method="post" novalidate>
        <div class="form-fields">
            <label asp-for="FullName">Full Name</label>
            <input class="form-field" asp-for="FullName" placeholder="Your full name" required />
            <span style="color:firebrick;"></span>
        </div>

        <div class="form-fields">
            <label asp-for="Email">Email</label>
            <input class="form-field" asp-for="Email" type="email" placeholder="Your email address" required />
            <span style="color:firebrick;"></span>
        </div>

        <div class="form-fields">
            <label asp-for="Password">Password</label>
            <input class="form-field" asp-for="Password" type="password" placeholder="Enter your password" required />
            <span style="color:firebrick;"></span>
        </div>

        <div class="form-fields">
            <label asp-for="ConfirmPassword">Repeat Password</label>
            <input class="form-field" asp-for="ConfirmPassword" type="password" placeholder="Confirm your password" required />
            <span style="color:firebrick;"></span>
        </div>

        <div class="form-checkbox-group">
            <label class="form-checkbox">
                <input id="terms-checkbox" class="form-checkbox-input" type="checkbox">
                <span class="form-checkbox-box"></span>
            </label>
            <label for="terms-checkbox" class="form-label">I accept <a href="#">Terms and Conditions</a></label>
        </div>

        <button class="btn btn-blue" type="submit">Create Account</button>
    </form>

    <footer class="login-footer">Already have an account? <a asp-controller="Auth" asp-action="Login">Login</a></footer>

</div>